.div_editor {
  display: flex;
  height: 100%;
  width: 100%;
}

.div_editor > div:last-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.div_editor > div:last-child > div:first-child {
  border: unset;
  width: 100%;
  flex: 4;
}

.div_editor > div:last-child > div:last-child {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid grey;
}
