.div_main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div_main > div {
  display: flex;
  justify-content: center;
}

.div_main > div > button {
  height: 100px;
  width: 100px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

.div_main > div > button:first-child {
  background-color: green;
  margin-right: 20px;
}

.div_main > div > button:last-child {
  background-color: grey;
}

.div_main > div > button:hover {
  opacity: 0.8;
}
